{%- set thispage_title = 'Page not found' -%}
{%- set thispage_description = 'Error 404: Page not found.' -%}
{%- set thispage_extraheader ='<base href="/" />' -%}
{%- include 'header.html' -%}


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Page not found
                    <small>in the Simon Lab at The University of Chicago</small>
                </h1>
                 <ol class="breadcrumb">
                    <li><a href="{{DirectoryPrefix}}index.html">Simon Lab</a>
                    </li>
                    <li class="active">404</li>
                </ol>
           </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
            <div class="row">
				<div class="col-md-12">
				<p>This is embarassing. We can't seem to find the signal right now.  We suggest you retune your laser and check your link. Sorry.<p>
				</div>
			</div>
			
		</div>
        {%- include 'footer.html' -%}

   
</body>

</html>
