       
        <!-- Footer -->
		
		<footer>
        <div class="container card">
		<hr>
            <div class="row">
				<div class="col-sm-3 col-sm-offset-1">
                   <a href="http://www.uchicago.edu">
					<img class="img-responsive footer-graphic" src="{{DirectoryPrefix}}graphics/UChicago.png" alt="The University of Chicago">
					</a><p>&nbsp;</p>
                </div>
				 <div class="col-sm-4 text-center">
				 <p><span id="UpdateTime">{{updateTime}} </span></p>
				 </div>
                <div class="col-sm-4 text-center">
                    <p>Copyright &copy;  2016</p>
                </div>
            </div>
        </footer>


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{DirectoryPrefix}}js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{DirectoryPrefix}}js/bootstrap.min.js"></script>
	
	<script type="application/ld+json">
		{ "@context" : "http://schema.org",
		  "@type" : "WebSite",
		  "name" : "Simon Lab at The University of Chicago",
		  "alternateName" : "Simon Lab",
		  "url" : "http://simonlab.uchicago.edu"
		}
		</script>
