{%- set thispage_title = 'Alumni of The Simon Lab at The University of Chicago' -%}
{%- set thispage_description = 'Former members of the Simon Lab' -%}
    {%- include 'header.html' -%}

    <!-- Page Content -->
    <div class="container" itemscope itemtype="http://schema.org/EducationalOrganization">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Alumni
                    <small>of the <span itemprop="name">Simon Lab</span></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{DirectoryPrefix}}index.html">Simon Lab</a>
                    </li>
                    <li><a href="{{DirectoryPrefix}}GroupMembers.html">Group Members</a>
                    </li>
                    <li class="active">Alumni</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        
        <!-- Team Members -->
        <div class="row">

			<!-- Former Students -->
		{%- for student in Students |sort(attribute='LastName') if student.former is defined -%}
				<div class="col-sm-6 col-md-4 col-lg-3 text-center"  itemprop="alumni" itemscope itemtype="http://schema.org/Person">
						<div class="thumbnail" {%- if student.tag is defined -%} id="{{student.tag}}" {%- else -%} id="{{student.FirstName}}{{student.LastName}}" {%- endif -%} >
							{%- if student.img is defined -%}
								<img itemprop="image" class="img-responsive people-img  center-graphic " src="graphics/people/{{student.img}}" alt="{{student.FirstName}} {% if student.MiddleName is defined -%} {{student.MiddleName}} {% endif -%} {{student.LastName}}">
							{%- else -%}
								<img itemprop="image" class="img-responsive people-img  center-graphic" src="graphics/people/{{student.FirstName}}{{student.LastName}}.jpg" alt="{{student.FirstName}} {% if student.MiddleName is defined -%} {{student.MiddleName}} {% endif -%} {{student.LastName}}">
							{%- endif -%}
							<div class="caption">
								<h3><span itemprop="name">{{student.FirstName}} {% if student.MiddleName is defined -%} {{student.MiddleName}} {% endif -%} {{student.LastName}}</span><br>
									<small><span itemprop="jobtitle">{{student.title}}</span></small>
								</h3>
								{%- if student.degrees is defined -%}
								<p> {%- for degree in student.degrees -%}
									{{degree}}
									{%- if not loop.last -%} <br> {%- endif -%}
									{%- endfor -%}
								</p>
								{%- endif -%}
								<p>{{student.caption}} </a> </p>
						        <ul class="list-inline">
									{%- if student.facebook is defined -%}
										<li><a href="{{student.facebook}}"><i class="fa fa-2x fa-facebook-square"></i></a>
										</li>
									{%- endif -%}
									{%- if student.linkedin is defined -%}
										<li><a href="{{student.linkedin}}"><i class="fa fa-2x fa-linkedin-square"></i></a>
										</li>
									{%- endif -%}
									{%- if student.googlescholar is defined -%}
										<li><a href="{{student.googlescholar}}"><i class="fa fa-2x fa-GoogleScholar"></i></a>
										</li>
									{%- endif -%}
									{%- if student.CV is defined -%}
										<li><a href="CVs/{{student.CV}}"><i class="fa fa-2x fa-CV-square"></i></a>
										</li>
									{%- endif -%}
									{%- if student.web is defined -%}
										<li><a href="{{student.web}}"><i class="fa fa-2x fa-WWW-square"></i></a>
										</li>
									{%- endif -%}
									{%- if student.MAthesis is defined -%}
										<li><a href="theses\{{student.MAthesis}}">Master Thesis</a>
										</li>
								    {%- endif -%}
									{%- if student.PhDthesis is defined -%}
										<li><a href="theses\{{student.PhDthesis}}">Doctoral Thesis</a>
										</li>
									{%- endif -%}
									{%- if student.BAthesis is defined -%}
										<li><a href="theses\{{student.BAthesis}}">Bachelor Thesis</a>
										</li>
									{%- endif -%}
								</ul>
							</div>
						</div>
					</div>
					{%- if loop.index   is divisibleby 4 -%}  <div class="clearfix visible-lg-block"> </div> {%- endif -%}
					{%- if loop.index  is divisibleby 3 -%}  <div class="clearfix visible-md-block"> </div> {%- endif -%}
					{%- if loop.index is divisibleby 2 -%}  <div class="clearfix visible-sm-block"> </div> {%- endif -%}
		{%- endfor -%}
		</div>
        <!-- /.row -->

        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Affiliations</h2>
            </div>
			{%- for affil in affiliations -%}
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
				{%- if affil.url is defined -%}
					<a href="{{affil.url}}">
				{%- endif -%}
				{%- if affil.img is defined -%}
					<img class="img-responsive funding-graphic" src="graphics/affiliations/{{affil.img}}" alt="{{affil.name}}">
					{%- else -%}
					<p> {{affil.name}} </p>
				{%- endif -%}
				{%- if affil.url is defined -%}
					</a>
				{%- endif -%}
			</div>
					{%- if loop.index is divisibleby 6 -%}  <div class="clearfix visible-lg-block"> </div> {%- endif -%}
					{%- if loop.index is divisibleby 6 -%}  <div class="clearfix visible-md-block"> </div> {%- endif -%}
					{%- if loop.index is divisibleby 3 -%}  <div class="clearfix visible-sm-block"> </div> {%- endif -%}
					{%- if loop.index is divisibleby 2 -%}  <div class="clearfix visible-xs-block"> </div> {%- endif -%}
			{%- endfor -%}
        </div>
        <!-- /.row -->

        </div>
    {%- include 'footer.html' -%}


  
</body>

</html>
