{%- set thispage_title = mylab.name +' in The Engel Group at The University of Chicago' -%}
{%- if mylab.text is defined -%}
	{%- set thispage_description = mylab.name+' '+ mylab.text -%}
{%- else -%}
	{%- set thispage_description = mylab.name -%}
	{%- endif -%}
{%- if mylab.header_banner is defined -%}
	{%- set header_banner = DirectoryPrefix + mylab.header_banner -%}
{%- endif -%}
 {%- include 'header.html' -%}


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
				{{mylab.name}}
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{DirectoryPrefix}}index.html">Engel Group</a>
                    </li>
                    <li><a href="{{DirectoryPrefix}}laboratories.html">Laboratories</a>
                    </li>
                    <li class="active">{{mylab.name}}</li>
                </ol>

            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
		{%- set counter = 0 -%}
		{%- if mylab.text is defined -%}
			{%- set counter = counter +1 -%}
			<div class="col-sm-6 padded-col">
				<p> {{mylab.text}} </p>
            </div>
		{%- endif -%}
		{%- for img in mylab.imgs -%}
			{%- set counter = counter +1 -%}
			{%- if counter == 1 and loop.last -%}
				<div class="col-sm-10 col-sm-offset-1 padded-col ">
			{%- elif img.wide is defined -%}
				<div class="col-sm-10 col-sm-offset-1 padded-col">
			{%- else -%}
				<div class="col-sm-6 {% if loop.last and counter is odd -%} col-sm-offset-3 {% endif -%} padded-col">
			{%- endif -%}
					<img class="img-responsive" src="{{DirectoryPrefix}}graphics/labs/{{img.url}}" alt="{{img.name}}">
				</div>
		{%- endfor -%}
		</div>		
        <!-- /.row -->

          </div>  
        {%- include 'footer.html' -%}


</body>

</html>
