{%- set thispage_title = 'News from The Simon Lab at The University of Chicago' -%}
{%- set thispage_description = 'Recent news from the Simon Lab at  The University of Chicago.  Read below to learn about our members, our publications, our successes, and our events.' -%}
    {%- include 'header.html' -%}


    <!-- Page Content -->
    <div class="container">
		
	        <div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">News
						<small>from The Simon Lab<span class="hidden-xs"> at The University of Chicago</span></small>
					</h1>
                <ol class="breadcrumb">
                    <li><a href="{{DirectoryPrefix}}index.html">Simon Lab</a>
                    </li>
                    <li class="active">News</li>
                </ol>
				</div>
			</div>

        <!-- Content Row -->
        <div class="row">
			
			<div class="col-lg-12">
                <!-- News Items -->
                {%- for item in News -%}
				<div class="media">
					{%- if item.glyph is defined -%}
						<div class="news-glyphs">
						{%- for g in item.glyph -%}
							{%- if g.url is defined -%}
								<a class="pull-left" href="{{g.url}}">
							{%- endif -%}
								<img class="media-object" src="{{g.img}}" alt="{{g.alt}}">
							{%- if g.url is defined -%}
								</a>
							{%- endif -%}
						{%- endfor -%}
						</div>
					{%- endif -%}
                    <div class="media-body">
                        <h4 class="media-heading">
								{%- if item.name is defined -%}
									{{item.name}} 
								{% endif -%}
                            <small>{{item.Date}}</small>
                        </h4>
                        <p>{{item.Text}}</p>
						{%- if item.img is defined -%}
							<div class="center-graphic hidden-xs" >
							{%- for image in item.img -%}
								<img src="{{image}}" alt="">
								{%-if not loop.last %} &nbsp {% endif -%}
							{%- endfor -%}
							</div>
						{%- endif -%}
                    </div>
                </div>

				{%- endfor -%}
                
               
			</div>
        </div>
        <!-- /.row -->

     </div>  
    {%- include 'footer.html' -%}


</body>

</html>
