	{%- set thispage_title = me.FirstName + ' ' + me.LastName + ': ' + me.title  if me.MiddleName is not defined else me.FirstName + ' '+ me.MiddleName + ' ' + me.LastName + ': ' + me.title  -%}
	{%- set thispage_description = 'About ' ~ me.FirstName + ' ' + me.LastName + ', ' + me.title + ' and my research at the University of Chicago' if me.MiddleName is not defined else 'About ' ~ me.FirstName + ' ' + me.MiddleName + ' ' + me.LastName + ', ' + me.title + ' and my research at the University of Chicago'  -%}

    {%- include 'header.html' -%}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{me.FirstName}} {% if me.MiddleName is defined -%} {{me.MiddleName}} {% endif -%} {{me.LastName}}
                    <small>{{me.title}}</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{DirectoryPrefix}}index.html">Simon Lab</a>
                    </li>
                    <li><a href="{{DirectoryPrefix}}GroupMembers.html">Group Members</a>
                    </li>
                    <li class="active">{{me.FirstName}} {% if me.MiddleName is defined -%} {{me.MiddleName}} {% endif -%} {{me.LastName}}</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Personal Photo and Info Row -->
        <div class="row" itemscope itemprop="employee" itemtype="http://schema.org/Person">
            <div class="col-sm-6 text-center-xs">
                			{%- if me.img is defined -%}
								<img itemprop="image" class="img-responsive people-img center-graphic-xs" src="{{DirectoryPrefix}}graphics/people/{{me.img}}" alt="{{me.FirstName}} {% if me.MiddleName is defined -%} {{me.MiddleName}} {% endif -%} {{me.LastName}}">
							{%- else -%}
								<img itemprop="image" class="img-responsive people-img center-graphic-xs" src="{{DirectoryPrefix}}graphics/people/{{me.FirstName}}{{me.LastName}}.jpg" alt="{{me.FirstName}} {% if me.MiddleName is defined -%} {{me.MiddleName}} {% endif -%} {{me.LastName}}">
							{%- endif -%}

                </div>

            <div class="col-sm-6 text-center-xs ">
                <h2><span itemprop="name">{{me.FirstName}} {% if me.MiddleName is defined -%} {{me.MiddleName}} {% endif -%} {{me.LastName}}</span> <br>
				<small> <span itemprop="jobtitle">{{me.title}}</span> at 
				<span itemprop="memberOf" itemscope itemtype="http://schema.org/Organization">The University of Chicago</span>
				</small></h2>
				<meta itemprop="description" content="{{me.FirstName}} {% if me.MiddleName is defined -%} {{me.MiddleName}} {% endif -%} {{me.LastName}}, {{me.title}} at The University of Chicago">

				{%- if me.degrees is defined -%}
								<p> {%- for degree in me.degrees -%}
									{{degree}}
									{%- if not loop.last -%} <br> {%- endif -%}
									{%- endfor -%}
								</p>
				{%- endif -%}
	
				<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<p class="hangingIndent">
				<i class="fa fa-building"></i>
				{% if me.room is defined %} {{me.room}} {% else %} GCIS E028 {% endif -%}  <br>
				<span itemprop="streetAddress">929 East 57th Street</span> <br>
				<span itemprop="addressLocality">Chicago, </span> 
				<span itemprop="addressRegion">IL</span> 
				<span itemprop="postalCode">60637</span> 
				<span itemprop="addressCountry">USA</span> </p>
				</div>
				
				{%- if me.pages is defined %} 
					<p>
					{%- for page in me.pages -%}  <i class="fa fa-external-link"></i> <a href="{{page.url}}">{{page.name}}</a> {%- if not loop.last -%} <br> {%- endif -%} {%- endfor -%}
					</p>
				{% endif -%}
				
				<p>
				<i class="fa fa-envelope"></i> <a href="mailto:{{me.email}}"> <span itemprop="email">  {{me.email}} </span></a> <br>
				<i class="fa fa-phone"></i> <span itemprop="telephone">  {{me.phone}}</span>
				</p>

					<ul class="list-inline">
								{%- if me.facebook is defined -%}
									<li><a href="{{me.facebook}}"><i class="fa fa-2x fa-facebook-square"></i></a>
									</li>
								{%- endif -%}
								{%- if me.linkedin is defined -%}
									<li><a href="{{me.linkedin}}"><i class="fa fa-2x fa-linkedin-square"></i></a>
									</li>
								{%- endif -%}
								{%- if me.googlescholar is defined -%}
									<li><a href="{{me.googlescholar}}"><i class="fa fa-2x fa-google-plus-square"></i></a>
									</li>
								{%- endif -%}
								{%- if me.CV is defined -%}
									<li><a href="{{DirectoryPrefix}}CVs/{{me.CV}}"><i class="fa fa-2x fa-CV-square"></i></a>
									</li>
								{%- endif -%}
								{%- if me.twitter is defined -%}
									<li><a href="{{me.twitter}}"><i class="fa fa-2x fa-google-plus-square"></i></a>
									</li>
								{%- endif -%}
					</ul>
            </div>

        </div>
		
		     <div class="row">
				<div class="col-sm-8 col-sm-push-4">
					{%- if me.research is defined  -%}
						<div>
							<h3 class="page-header">Research </h3>
						</div>
						<div class="text-justify">
							{%- for line in me.research -%}
									<p>{{line}}</p>
							{%- endfor -%}
						</div>
					{%- endif -%}
					{%- if me.personal is defined  -%}
						<div>
							<h3 class="page-header">Life Outside the Laboratory </h3>
						</div>
						<div class="text-justify">
							{%- for line in me.personal -%}
									<p>{{line}}</p>
							{%- endfor -%}
						</div>
					{%- endif -%}
					</div>

					<div class="col-sm-4 col-sm-pull-8">
					{%- if me.bio is defined  -%}
							<div>
							<h3 class="page-header">Bio </h3>
										<p>
								{%- for line in me.bio -%}
										{{line}}<br>
								{%- endfor -%}
										</p>
							</div>
					{%- endif -%}
					{%- if me.accolades is defined  -%}
						<div>
						<h3 class="page-header">Accolades </h3>
							<ul class="people-accolades">
							{%- for line in me.accolades -%}
									<li>{{line}}</li>
							{%- endfor -%}
							</ul>
						</div>
					{%- endif -%}
				</div>


			 </div>
			 
			 
        <!-- /.row -->


			{%- if me.mypubs is defined  -%}
					
				<!-- Person Detail Row -->
				<div class="row">

					<div class="col-lg-12">
						<h3 class="page-header"> 
							{% if me.LastName == "Simon" -%} Recent  {% endif -%}
							Papers <small> from the Simon Lab </small></h3>
					</div>
				</div>	
						{%- for pub in me.mypubs -%}
											<div class="row publication-row {% if loop.index is even %} graybackground {% endif %} {%- if me.LastName == "Simon" and loop.last -%} truncated-row {% endif %} ">
											<div class="col-xs-12 {% if pub.img is defined %} col-md-9 col-sm-10 {% endif %} publication publication-reference">
												<p>{{pub.auth}}, <a href="{{pub.url}}">"{{pub.title}}"</a> {{pub.ref}}
												{% if pub.note is defined %} <br><br> <b>***{{pub.note}}***</b> {%- endif -%}
												</p>
											</div>	
											{% if pub.img is defined %}
											<div class="col-md-3 col-sm-2 hidden-xs publication">
												<img class="img-responsive publication-graphic" src="{{DirectoryPrefix}}graphics/publications/{{pub.img}}" alt="{{pub.title}}">
											</div>
											{% endif %}
											{%- if me.LastName == "Simon" and loop.last -%} 
												<div class="transparent-fade"> 
													<a class="transparent-fade-btn-overlay btn btn-primary-ghost space-below" href="{{DirectoryPrefix}}publications.html">All Publications <i class="fa fa-angle-right"></i></a>
												</div>
											{% endif %}
										</div>
						{%- endfor -%}
			{%- endif -%}
        <!-- /.row -->
		</div>
               {%- include 'footer.html' -%}
    
</body>

</html>
