{%- set thispage_title = 'Research in The Simon Lab at The University of Chicago' -%}
{%- set thispage_description = 'The Simon Lab focuses on research including '+ ResearchAreaList -%}
{%- include 'header.html' -%}
    

    <!-- Page Content -->
    <div class="container">
	
	        <div class="row">
            <div class="col-lg-12">
                 <h1 class="page-header">Research
                    <!-- <small><span class="hidden-xs">in The Simon Lab at The University of Chicago</span></small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{DirectoryPrefix}}index.html">Zhang Lab</a>
                    </li>
                    <li class="active">Research</li>
                </ol>
            </div>
			</div>
        

        <!-- Resarch Areas Section -->
        <div class="row">
	    <div class="col-md-12">
		<p> {{researchPage.statement}}</p>
		</div>
            
			{%- for area in areas if area.inactive is not defined -%}
				<a href="#publications">
					<div class="col-md-4 col-xs-6">
							<img class="img-responsive img-portfolio img-hover" src="graphics/researchareas/{{ area.image }}" alt="{{area.title}}">
							<div class="portfolio-caption btn teaser-caption">
								<h3>{{area.title}}</h3>
							</div>
					</div>
				</a>
					
            {%- endfor -%}
        </div>
        <!-- /.row -->

        <!-- Publications Section -->
        <div class="row"  id="publications">
            <div class="col-lg-12">
                <h2 class="page-header">Recent Publications</h2>
            </div>
		</div>
		
			{%- for pub in pubs -%}
				  {%- if loop.index0 < 5 -%}
				  {%- if pub.img is not defined -%}
						<div class="row publication-row {% if loop.index is even %} graybackground {% endif %}">
							<div class="col-md-12 publication">
								{%- if pub.url is defined -%}
									<p>{{pub.auth}}, <a href="{{pub.url}}">"{{pub.title}}"</a> {{pub.ref}}</p>
								{%- else -%}
									<p>{{pub.auth}}, "{{pub.title}}" {{pub.ref}}</p>
								{%- endif -%}
							</div>	
						</div>
					{%- else -%}
						<div class="row publication-row {% if loop.index is even %} graybackground {% endif %}"  >
							<div class="col-md-9 col-sm-10 publication ">
								{%- if pub.url is defined -%}
									<p>{{pub.auth}}, <a href="{{pub.url}}">"{{pub.title}}"</a> {{pub.ref}}</p>
								{%- else -%}
									<p>{{pub.auth}}, "{{pub.title}}" {{pub.ref}}</p>
								{%- endif -%}
							</div>	
							<div class="col-md-3 col-sm-2 hidden-xs publication">
								<img class="img-responsive" src="graphics/publications/{{pub.img}}" alt="{{pub.title}}">
							</div>
						</div>
			  {%- endif -%}
			  {%- endif -%}
			{%- endfor -%}

       
        <!-- /.row -->
		</div>
               {%- include 'footer.html' -%}
   
</body>

</html>
