{%- set thispage_title = 'The Engel Group at The University of Chicago' -%}
{%- set thispage_description = 'Greg Engel\'s Research Group at The University of Chicago studies excited state dynamics and ultrafast phenomena to understand and to reveal new design strategies for controlling excited state reactivity.  We develop new spectroscopies, synthesis and theory to power our research.' -%}
{%- include 'header.html' -%}

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide fullsize">
	   <!-- Intro message -->
			<div class="intro-message">
				<img class="img-responsive" src="{{DirectoryPrefix}}graphics/EngelGroup600.png" alt="Engel Group">
				<hr class="intro-divider">
						<div class="hidden-sm hidden-md hidden-lg"> <img class="img-responsive" src="{{DirectoryPrefix}}graphics/UChicago-white.png" alt="The University of Chicago"></div>
				<hr class="intro-divider hidden-sm hidden-md hidden-lg">
						<a href="#main" class="btn intro-btn btn-white-ghost ">Our Science...</a>
			</div>   
			<div class="intro-icon hidden-xs">
				<img class="img-responsive" src="{{DirectoryPrefix}}graphics/UChicago-white.png" alt="The University of Chicago">
			</div>   
	   <!-- Indicators -->
        <ol class="carousel-indicators hidden-xs">
        {%- for slide in slides if slide.inactive is not defined -%}
		<li data-target="#myCarousel" data-slide-to="{{loop.index0}}" class="{% if loop.first %}active {% endif %}"></li>
        {%- endfor -%}
        </ol>
      <!-- Wrapper for slides -->
        <div class="carousel-inner hidden-xs">
            {%- for slide in slides if slide.inactive is not defined -%}
					<div class="item {% if loop.first %}active {% endif %}">
						<div class="fill" style="background-image: url('graphics/indexsliders/{{ slide.url }}');"></div>
						<div class="carousel-caption">
							<h2>{{ slide.caption }}</h2>
						</div>
					</div>
			{%- endfor -%}
        </div>
		<div class="carousel-inner hidden-sm hidden-md hidden-lg">
            {%- for slide in slides if slide.inactive is not defined -%}
					{% if loop.first %}
						<div class="fill" style="background-image: url('graphics/indexsliders/{{ slide.url }}');"></div>
						<div class="carousel-caption">
							<h2>{{ slide.caption }}</h2>
						</div>
					{% endif %}
			{%- endfor -%}
        </div>
        <!-- Controls -->
        <a class="left carousel-control hidden-xs" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control hidden-xs" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
	<!-- Introductory Section -->
    <div class="container">
        <div class="row main-banner-quote">
            <div class="col-lg-12">
				    <a name="main"></a>
				<h1 class="hidden">
                    The Engel Group at The University of Chicago
                </h1>
            </div>
			<div class="col-xs-12"><hr></div>
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 ">
			<h2 class="main-banner-quote"> 
				<small> {{intro.text}} </small>
			<h2>
				
			</div>
			<div class="col-xs-12"><hr></div>
		</div>	
    </div> 
		 <!-- Research Focus Section -->
    <div class="container-fluid">
				
					{%- for teaser in teasers.topics -%}
					
					
					{% if loop.index is odd %}
					<div class="row light-gray-back  teaser-row">
					<a href="{{teaser.url}}">
					<div class="col-sm-5 teaser-img" style="background-image: url('graphics/teasers/{{ teaser.img }}')">&nbsp</div>
					</a>
					{% else %}
					<div class="row maroon-back white-text teaser-row ">
					<a href="{{teaser.url}}">
					<div class="hidden-sm hidden-md hidden-lg teaser-img" style="background-image: url('graphics/teasers/{{ teaser.img }}')"></div>
					</a>
					{% endif %}
					<div class=" col-sm-7">
								<h3><i class="fa fa-fw {{teaser.glyph}}"></i>  {{teaser.title}}</h3>
								<div><p>{{teaser.description}}</p></div>
								<div class="text-center ">
								{%- if teaser.button is defined -%}
									<a href="{{teaser.url}}" class="btn {% if loop.index is odd %} btn-primary-ghost {%else%} btn-yellow-ghost {% endif %} index-button">{{teaser.button}}  <i class="fa fa-angle-right"></i> </a>
								{%- else -%}
									<a href="{{teaser.url}}" class="btn {% if loop.index is odd %} btn-primary-ghost {%else%} btn-yellow-ghost {% endif %} index-button">Learn More  <i class="fa fa-angle-right"></i> </a>
								{%- endif -%}
								</div>
								</div>
					{% if loop.index is even %}
					<a href="{{teaser.url}}">
					<div class=" hidden-xs col-sm-5 teaser-img" style="background-image: url('graphics/teasers/{{ teaser.img }}')"></div>
					</a>

					{% endif %}
					 </div>
					{%- endfor -%}
		   
				<!-- /.row -->
				 
	</div>

				<!-- News Section -->
				  <div class="container card">
				  <div class="row">	
					<div class="col-lg-12">
						<h2 class="page-header  ">
							News <small> from The Engel Group at The University of Chicago</small>
						</h2>
					</div>
				  </div>
				  <div class="row">	
									<!-- News Items -->
						{%- for item in News -%}
						{%- if loop.index0 < 3 -%}
							<div class="col-sm-12 col-md-4">
								<div class="media panel panel-default  no-border ">
									<div class="panel-heading-default">
										<h4 class="media-heading">
												{%- if item.name is defined-%}
													{{item.name}} 
												{% endif -%}
											<small> {{item.Date}}</small>
										</h4>
									</div>
								
									<div class="media-body">
										<div class="news-glyphs news-glyphs-maxwidth">
										{%- if item.glyph is defined -%}
												{%- for g in item.glyph -%}
													{%- if g.url is defined -%}
														<a class="pull-left" href="{{g.url}}">
													{%- endif -%}
														<img class="media-object" src="{{g.img}}" alt="{{g.alt}}">
													{%- if g.url is defined -%}
														</a>
													{%- endif -%}
												{%- endfor -%}
											{%- endif -%}
										</div>
										<p class="news-paragraph">{{item.Text}}</p>
										
									</div>
								</div>
							</div>
							{%- endif -%}
						{%- if loop.index0 == 3 -%}
							</div>
							<div class="row truncated-row">	
							<div class="col-xs-12 col-md-4">
								<div class="media panel panel-default  no-border ">
									<div class="panel-heading-default">
										<h4 class="media-heading">
												{%- if item.name is defined-%}
													{{item.name}} 
												{% endif -%}
											<small> {{item.Date}}</small>
										</h4>
									</div>
								
									<div class="media-body">
										<div class="news-glyphs news-glyphs-maxwidth">
										{%- if item.glyph is defined -%}
												{%- for g in item.glyph -%}
													{%- if g.url is defined -%}
														<a class="pull-left" href="{{g.url}}">
													{%- endif -%}
														<img class="media-object" src="{{g.img}}" alt="{{g.alt}}">
													{%- if g.url is defined -%}
														</a>
													{%- endif -%}
												{%- endfor -%}
											{%- endif -%}
										</div>
										<p class="news-paragraph">{{item.Text}}</p>
									</div>
								</div>
							</div>
							{%- endif -%}
						{%- if loop.index0 > 3 and loop.index0 < 6-%}
							<div class="col-md-4 hidden-sm hidden-xs ">
								<div class="media panel panel-default  no-border ">
									<div class="panel-heading-default">
										<h4 class="media-heading">
												{%- if item.name is defined-%}
													{{item.name}} 
												{% endif -%}
											<small> {{item.Date}}</small>
										</h4>
									</div>
								
									<div class="media-body">
										<div class="news-glyphs news-glyphs-maxwidth">
										{%- if item.glyph is defined -%}
												{%- for g in item.glyph -%}
													{%- if g.url is defined -%}
														<a class="pull-left" href="{{g.url}}">
													{%- endif -%}
														<img class="media-object" src="{{g.img}}" alt="{{g.alt}}">
													{%- if g.url is defined -%}
														</a>
													{%- endif -%}
												{%- endfor -%}
											{%- endif -%}
										</div>
										<p class="news-paragraph">{{item.Text}}</p>
										
									</div>
								</div>
							</div>
							{%- endif -%}
						{%- endfor -%}
					<div class="transparent-fade"> 
								<a class="transparent-fade-btn-overlay btn btn-primary-ghost space-below" href="news.html">More News <i class="fa fa-angle-right"></i></a>
					</div>
					</div>
			
					</div> <!--Card end-->
	

	
    <div class="container">
		 
	
	
			
        

        <!-- Resarch Areas Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Specific Research Areas <small> in The Engel Group</small></h2>
            </div>
            
			{%- for area in areas if area.inactive is not defined -%}
				<a href="research/{{area.url}}">
					<div class="col-md-2_4 col-sm-4 col-xs-6 
					{% if loop.index == 6 %} col-md-offset-1_2 {% endif %}
					{% if loop.index == 9 %} col-xs-offset-3 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 {% endif %}			
					">
							<img class="img-responsive img-portfolio img-hover" src="graphics/researchareas/{{ area.image }}" alt="{{area.title}}">
							<div class="portfolio-caption btn teaser-caption">
								<h3>{{area.title}}</h3>
							</div>
					</div>
				</a>
					
            {%- endfor -%}
        </div>
        <!-- /.row -->

        <!-- Publications Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Recent Publications</h2>
            </div>
		</div>
		
			{%- for pub in pubs -%}
				  {%- if loop.index0 < 6 -%}
				  {%- if pub.img is not defined -%}
						<div class="row  publication-row  {% if loop.index is even %} graybackground {% endif %} {% if loop.index ==6 %} truncated-row {% endif %}"  >
							<div class="col-xs-12 publication publication-reference">
								{%- if pub.url is defined -%}
									<p>{{pub.auth}}, <a href="{{pub.url}}">"{{pub.title}}"</a> {{pub.ref}}</p>
								{%- else -%}
									<p>{{pub.auth}}, "{{pub.title}}" {{pub.ref}}</p>
								{%- endif -%}

							</div>	
							{%- if loop.index ==6 -%} 
								<div class="transparent-fade"> 
									<a class="transparent-fade-btn-overlay btn btn-primary-ghost space-below" href="news.html">More News <i class="fa fa-angle-right"></i></a>
								</div>
							{%- endif -%}
						</div>
					{%- else -%}
						<div class="row publication-row  {% if loop.index is even %} graybackground {% endif %} {% if loop.index ==6 -%} truncated-row {%- endif %}"  >
							<div class="col-xs-12 col-md-9 col-sm-10 publication publication-reference ">
								{%- if pub.url is defined -%}
									<p>{{pub.auth}}, <a href="{{pub.url}}">"{{pub.title}}"</a> {{pub.ref}}</p>
								{%- else -%}
									<p>{{pub.auth}}, "{{pub.title}}" {{pub.ref}}</p>
								{%- endif -%}
							</div>	
							<div class="col-md-3 col-sm-2 hidden-xs publication">
								<img class="img-responsive publication-graphic" src="graphics/publications/{{pub.img}}" alt="{{pub.title}}">
							</div>
							{%- if loop.index ==6 -%} 
								<div class="transparent-fade"> 
									<a class="transparent-fade-btn-overlay btn btn-primary-ghost space-below" href="publications.html">All Publications <i class="fa fa-angle-right"></i></a>
								</div>
							{%- endif -%}
						</div>
			  {%- endif -%}
			  {%- endif -%}
			{%- endfor -%}

       
        <!-- /.row -->

           <!-- Our Affiliations -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Affiliations</h2>
            </div>
			{%- for affil in affiliations -%}
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 
				{% if loop.index == 9 %} col-xs-offset-3 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 {% endif %}			
				{% if loop.index ==7 %} col-md-offset-3 col-lg-offset-3 {% endif %}
			">
				{%- if affil.url is defined -%}
					<a href="{{affil.url}}">
				{%- endif -%}
				{%- if affil.img is defined -%}
					<img class="img-responsive funding-graphic" src="graphics/affiliations/{{affil.img}}" alt="{{affil.name}}">
					{%- else -%}
					<p> {{affil.name}} </p>
				{%- endif -%}
				{%- if affil.url is defined -%}
					</a>
				{%- endif -%}
			</div>
					{%- if loop.index is divisibleby 6 -%}  <div class="clearfix visible-lg-block"> </div> {%- endif -%}
					{%- if loop.index is divisibleby 6 -%}  <div class="clearfix visible-md-block"> </div> {%- endif -%}
					{%- if loop.index is divisibleby 3 -%}  <div class="clearfix visible-sm-block"> </div> {%- endif -%}
					{%- if loop.index is divisibleby 2 -%}  <div class="clearfix visible-xs-block"> </div> {%- endif -%}
			{%- endfor -%}
        </div>
        <!-- /.row -->

           <!-- Our Funders -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Funding</h2>
            </div>
			
			{%- for funder in funding.funders -%}
            <div class="col-lg-1_5 col-md-1_5 col-sm-2 col-xs-3 
				{% if loop.index ==9 %} col-md-offset-2_25 col-lg-offset-2_25{% endif %}
				{% if loop.index ==13 %} col-xs-offset-4_5 col-sm-offset-5 col-md-offset-0 col-lg-offset-0 {% endif %}
				">
				{%- if funder.url is defined -%}
					<a href="{{funder.url}}">
				{%- endif -%}
				{%- if funder.img is defined -%}
					<img class="img-responsive funding-graphic" src="graphics/funding/{{funder.img}}" alt="{{funder.name}}">
					{%- else -%}
					<p> {{funder.name}} </p>
				{%- endif -%}
				{%- if funder.url is defined -%}
					</a>
				{%- endif -%}
			</div>
					{%- if loop.index is divisibleby 8 -%}  <div class="clearfix visible-lg-block"> </div> {%- endif -%}
					{%- if loop.index is divisibleby 8 -%}  <div class="clearfix visible-md-block"> </div> {%- endif -%}
					{%- if loop.index is divisibleby 6 -%}  <div class="clearfix visible-sm-block"> </div> {%- endif -%}
					{%- if loop.index is divisibleby 4 -%}  <div class="clearfix visible-xs-block"> </div> {%- endif -%}
			{%- endfor -%}
        </div>
        <!-- /.row -->
		
        {%- include 'footer.html' -%}

   
    <!-- Script to Activate the Carousel -->
    <script type='text/javascript'>
    $(document).ready(function() {
         $('.carousel').carousel({ 
             interval: 5000  
         })
    });    
	</script>

</body>

</html>